<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templo do Yoga</title>
    <link rel="icon" href="images/yoga_icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color: brown;">
    <div class="centered_container">
    <header style="background-color: darkred; max-width:1000px; margin: 0 auto;  text-align: center;">
        <img src="{{ url_for('static', filename='TEMPLO-BN8.jpg') }}" width="1000"><br>
        <a href=""style="color: gold;">Home</a>
        <a href="http://www.templodoyoga.org/" target=blank style="color: gold;">Our products</a>
        <a href="http://www.templodoyoga.org/p/templo-do-yoga.html" target=blank style="color: gold;">About us</a>
        <a href="mailto:templodoyoga@gmail.com" target=blank style="color: gold;">Contact us</a>

    </header>
    <main >
        <div style="overflow: hidden;">
        <img src="{{ url_for('static', filename='shutterstock_324427688-1.jpg') }}" alt="Mulher praticando yoga" class="image-container right-aligned">
        <h2 style="margin: 20px;">Mentoria do templo do yoga</h2>
        <p style="font-size: larger;margin: 20px;">
            Tá osso praticar sem orientação? Não consegue ir além da ginástica postural? Fez formação mas ta mais perdido que gato em dia de mudança? Sente que seu yoga está rendendo menos do que poderia? Então, mentoria é exatamente para lidar com dificuldades desse tipo.
            
            Entre no link na barra de navegação do site e entre em contato conosco!<br><br>
        
            Oferecemos também:<br>
            -<a href="http://www.templodoyoga.org/p/acervo.html">Livros</a><br>
            <a href></a>
        </p>   
        <div class="clearfix"></div>    
        <img src="{{ url_for('static', filename='y3.jpg') }}" alt="Pessoa em posição de yoga"class="image-container left-aligned">
        <h2 style="margin: 40px 0px;">O que é o Yoga:</h2>
        <p style="font-size: larger; margin: 20px;">
            O que é Yoga?
            Yoga é uma prática milenar originada na Índia há mais de 5.000 anos que visa a união entre corpo, mente e espírito. A palavra "yoga" vem do sânscrito e significa "unir", "integrar" ou "controlar". Através de uma combinação de posturas físicas (asanas), técnicas de respiração (pranayama) e meditação, o yoga busca alcançar o equilíbrio entre os aspectos físico, mental e espiritual do ser humano.
        </p><br>
        <img src="{{ url_for('static', filename='yoga-online.jpg') }}" alt="Mulher fazendo yoga"; class="image-container right-aligned" style="margin: 90px 30px;">
        <h2 style="margin: 30px;">Benefícios do Yoga:</h2>
        <p style="margin: 30px; font-size: larger;">
            Para o corpo:<br><br> 
            Flexibilidade: As posturas de Yoga alongam os músculos e aumentam a amplitude de movimento, o que pode reduzir o risco de lesões e melhorar o desempenho em outras atividades físicas<br><br>

            Equilíbrio: As posturas de Yoga desafiam o equilíbrio, o que pode ajudar a prevenir quedas e melhorar a coordenação motora.<br><br>

            Postura: As posturas de Yoga alongam e fortalecem os músculos que sustentam a coluna vertebral, o que pode ajudar a melhorar a postura e reduzir dores nas costas.<br><br>

            Entre muitos outros benefícios.
        </p>  
        <img src="{{ url_for('static', filename='10-Seated-Yoga-Poses_cover.jpg') }}" alt="Mulher sentada Yoga" class="image-container left-aligned"">
        <p style="font-size: larger;margin: 60px 60px;">
            Para a mente: <br><br>

            Foco e concentração: As posturas de Yoga e a meditação exigem concentração, o que pode ajudar a melhorar o foco e a capacidade de atenção.<br><br>

            Clareza mental: O Yoga pode ajudar a reduzir o estresse e a ansiedade, o que pode contribuir para uma mente mais clara e pensamentos mais positivos.<br><br>

            Redução do estresse e da ansiedade: As técnicas de respiração e meditação do Yoga podem ajudar a acalmar a mente e reduzir o estresse e a ansiedade.<br><br>
        </p>
        </div>
    <footer style="text-align: center;background-color: darkred;color: gold">
        <a href="https://www.instagram.com/templodoyoga/?hl=en" style="color:gold">Templo do Yoga</a><br>
        &copy; All rights reserved. This content is protected by copyright.<br>
    </footer>    
</body>
</html>
